# Data Cleansing

In [1]:
# import libraries

import datetime
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings 
warnings.filterwarnings('ignore')

In [2]:
# import data
df = pd.read_csv("231211_Loan_Defaulter.csv")
df.head(10)

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.362860,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.996920,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.224550,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.155850,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.926670,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0
5,50509046,34631,30203,8635.931613,36,BAT4694572,17.246986,B,G5,RENT,...,5.043575,0.581688,0,INDIVIDUAL,32,0,42,51252,27480,0
6,32737431,30844,19773,15777.511830,59,BAT4808022,10.731432,C,C5,RENT,...,3.167937,0.553076,0,INDIVIDUAL,71,0,3388,42069,31068,0
7,63151650,20744,10609,7645.014802,58,BAT2558388,13.993688,A,A5,OWN,...,0.098448,0.047589,0,INDIVIDUAL,87,0,48,184909,43303,0
8,4279662,9299,11238,13429.456610,59,BAT5341619,11.178457,G,C2,MORTGAGE,...,0.530214,0.216985,0,INDIVIDUAL,144,0,26,68126,7482,0
9,4431034,19232,8962,7004.097481,58,BAT2078974,5.520413,C,B5,RENT,...,2.912215,0.886864,0,INDIVIDUAL,9,0,35,71650,14871,0

In [3]:
# check the shape of the dataframe
df.shape

# dataframe has 96376 rows and 35 columns

(96376, 35)

## Examining Data Details

In [4]:
# feature description

feat = ["Representative's identification number",
        "Amount of loan proposed by representative",
        "Amount of disbursed loan",
        "Amount of loan approved by investor",
        "Loan payment term",
        "Batch number of proposed loan",
        "Interest rate of disbursed loan",
        "Grade by the bank",
        "Sub-grade by the bank",
        "House ownership type",
        "Worth of the house",
        "Income verification by bank",
        "If any payment plan has started against the loan",
        "Title of loan",
        "Ratio of monthly debt payment to income",
        "Delinquency done during last 2 months",
        "Total loan proposed in the last 6 months",
        "Number of open credit by representative",
        "Number of representative's bad attitude in public",
        "Total revolving credit",
        "Percentage of available credit",
        "Total number of credit line available in representative account",
        "Listing status of the loan",
        "Total interest received",
        "Total late fee collected",
        "Post charge of gross recovery",
        "Post charge of collection fee",
        "Total collection in 12 months excluding medical",
        "Individual or joint loan",
        "Number of week the representative paid the loan",
        "Number of delinquent account by representative",
        "Total balance of all accounts",
        "Total current balance of all accounts",
        "Total revolving credit limit",
        "Status of the loan"]

feature = pd.DataFrame(feat, columns=['Feature Desc.'])

In [5]:
# data description
desc = []
for i in df.columns:
    desc.append([
        i,
        df[i].dtypes,
        df[i].isna().sum(),
        round((df[i].isna().sum())/len(df)*100,2),
        df[i].nunique(),
        df[i].drop_duplicates().sample(1).values
    ])

df_desc = pd.DataFrame(desc, columns=['Feature Name', 'DataType', 'NaN', '%Nan', 'Unique', 'Sample'])
df_desc = pd.concat([feature, df_desc], axis=1)
df_desc

,Feature Desc.,Feature Name,DataType,NaN,%Nan,Unique,Sample
0,Representative's identification number,ID,int64,0,0.0,96376,[43903561]
1,Amount of loan proposed by representative,Loan Amount,int64,0,0.0,29737,[13409]
2,Amount of disbursed loan,Funded Amount,int64,0,0.0,26793,[6116]
3,Amount of loan approved by investor,Funded Amount Investor,float64,0,0.0,89847,[12925.0]
4,Loan payment term,Term,int64,0,0.0,4,[36]
5,Batch number of proposed loan,Batch Enrolled,object,0,0.0,41,[BAT2136391]
6,Interest rate of disbursed loan,Interest Rate,float64,0,0.0,89117,[13.57816607]
7,Grade by the bank,Grade,object,0,0.0,7,[D]
8,Sub-grade by the bank,Sub Grade,object,0,0.0,35,[E4]
9,House ownership type,Employment Duration,object,0,0.0,3,[MORTGAGE]
10,Worth of the house,Home Ownership,float64,0,0.0,89997,[40107.98426]
11,Income verification by bank,Verification Status,object,0,0.0,3,[Source Verified]
12,If any payment plan has started against the loan,Payment Plan,object,0,0.0,1,[n]
13,Title of loan,Loan Title,object,0,0.0,109,[Dept consolidation]
14,Ratio of monthly debt payment to income,Debit to Income,float64,0,0.0,91895,[25.45484122]
15,Delinquency done during last 2 months,Delinquency - two years,int64,0,0.0,10,[0]
16,Total loan proposed in the last 6 months,Inquires - six months,int64,0,0.0,6,[3]
17,Number of open credit by representative,Open Account,int64,0,0.0,36,[37]
18,Number of representative's bad attitude in public,Public Record,int64,0,0.0,5,[3]
19,Total revolving credit,Revolving Balance,int64,0,0.0,24628,[4200]
20,Percentage of available credit,Revolving Utilities,float64,0,0.0,89948,[68.00204415]
21,Total number of credit line available in repre...,Total Accounts,int64,0,0.0,70,[58]
22,Listing status of the loan,Initial List Status,object,0,0.0,2,[w]
23,Total interest received,Total Received Interest,float64,0,0.0,96012,[1058.742787]
24,Total late fee collected,Total Received Late Fee,float64,0,0.0,88871,[0.038946537]
25,Post charge of gross recovery,Recoveries,float64,0,0.0,88949,[1.507545094]
26,Post charge of collection fee,Collection Recovery Fee,float64,0,0.0,88843,[0.371103331]
27,Total collection in 12 months excluding medical,Collection 12 months Medical,int64,0,0.0,2,[0]
28,Individual or joint loan,Application Type,object,0,0.0,2,[INDIVIDUAL]
29,Number of week the representative paid the loan,Last week Pay,int64,0,0.0,162,[8]
30,Number of delinquent account by representative,Accounts Delinquent,int64,0,0.0,2,[1]
31,Total balance of all accounts,Total Collection Amount,int64,0,0.0,2757,[12237]
32,Total current balance of all accounts,Total Current Balance,int64,0,0.0,83321,[344045]
33,Total revolving credit limit,Total Revolving Credit Limit,int64,0,0.0,44236,[42952]
34,Status of the loan,Loan Status,int64,0,0.0,2,[1]

### Dropping Collumns with Only 1 Unique Value

List of columns with 1 unique value:
- Payment plan

In [6]:
df.drop(["Payment Plan"], axis=1, inplace=True)
df.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

### Dropping Insignificant Columns

List of insignificant columns:
- Loan Title (does not affect the analysis)
- Revolving Utilities (unclear description by the data owner)
- Recoveries (unclear description by the data owner)
- Collection Recovery Fee (unclear description by the data owner)
- Collection 12 months Medical (unclear description by the data owner)
- Last week Pay (unclear description by the data owner)
- Total Collection Amount (unclear description by the data owner)
- Total Current Balance (unclear description by the data owner)
- Total Revolving Credit Limit (unclear description by the data owner)

In [7]:
df.drop(["Loan Title", 
         "Revolving Utilities", 
         "Recoveries", 
         "Collection Recovery Fee",
         "Collection 12 months Medical", 
         "Last week Pay", 
         "Total Collection Amount", 
         "Total Current Balance", 
         "Total Revolving Credit Limit"], axis=1, inplace=True)
df.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Open Account,Public Record,Revolving Balance,Total Accounts,Initial List Status,Total Received Interest,Total Received Late Fee,Application Type,Accounts Delinquent,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,13,0,24246,7,w,2929.646315,0.102055,INDIVIDUAL,0,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,12,0,812,13,f,772.769385,0.036181,INDIVIDUAL,0,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,14,0,1843,20,w,863.324396,18.778660,INDIVIDUAL,0,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,7,0,13819,12,w,288.173196,0.044131,INDIVIDUAL,0,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,13,1,1544,22,w,129.239553,19.306646,INDIVIDUAL,0,0

### Fixing Datatype

Columns that need to be corrected:
- ID should be a varchar instead of integer

In [8]:
df['ID'] = df['ID'].astype('str')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96376 entries, 0 to 96375
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       96376 non-null  object
 1   Loan Amount              96376 non-null  int64
 2   Funded Amount            96376 non-null  int64
 3   Funded Amount Investor   96376 non-null  float64
 4   Term                     96376 non-null  int64
 5   Batch Enrolled           96376 non-null  object
 6   Interest Rate            96376 non-null  float64
 7   Grade                    96376 non-null  object
 8   Sub Grade                96376 non-null  object
 9   Employment Duration      96376 non-null  object
 10  Home Ownership           96376 non-null  float64
 11  Verification Status      96376 non-null  object
 12  Debit to Income          96376 non-null  float64
 13  Delinquency - two years  96376 non-null  int64
 14  Inquires - six months    96376 non-null  int64
 15  Open Account             96376 non-null  int64
 16  Public Record            96376 non-null  int64
 17  Revolving Balance        96376 non-null  int64
 18  Total Accounts           96376 non-null  int64
 19  Initial List Status      96376 non-null  object
 20  Total Received Interest  96376 non-null  float64
 21  Total Received Late Fee  96376 non-null  float64
 22  Application Type         96376 non-null  object
 23  Accounts Delinquent      96376 non-null  int64
 24  Loan Status              96376 non-null  int64
dtypes: float64(6), int64(11), object(8)
memory usage: 18.4+ MB

### Simplifying Column Name

In [10]:
df.rename(columns= {'ID': 'id', 
                    'Loan Amount': 'loan_amt', 
                    'Funded Amount': 'funded_amt',
                    'Funded Amount Investor': 'investor_amt', 
                    'Term': 'pmt_term', 
                    'Batch Enrolled': 'batch',
                    'Interest Rate': 'rate', 
                    'Grade': 'grade', 
                    'Sub Grade': 'subgrade',
                    'Employment Duration': 'home_type', 
                    'Home Ownership': 'home_worth', 
                    'Verification Status': 'verification',
                    'Debit to Income': 'debt_income_ratio',
                    'Delinquency - two years': 'total_delinquency',
                    'Inquires - six months': 'total_inquires',
                    'Open Account': 'open_account',
                    'Public Record': 'total_bad_attitude',
                    'Revolving Balance': 'revolving_balance',
                    'Total Accounts': 'total_account',
                    'Initial List Status': 'init_status',
                    'Total Received Interest': 'received_interest',
                    'Total Received Late Fee': 'received_late_fee',
                    'Application Type ': 'application_type',
                    'Accounts Delinquent': 'account_delinquent',
                    'Loan Status': 'loan_status'
                   },
         inplace=True)

In [11]:
df.head()

,id,loan_amt,funded_amt,investor_amt,pmt_term,batch,rate,grade,subgrade,home_type,...,open_account,total_bad_attitude,revolving_balance,total_account,init_status,received_interest,received_late_fee,Application Type,account_delinquent,loan_status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,13,0,24246,7,w,2929.646315,0.102055,INDIVIDUAL,0,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,12,0,812,13,f,772.769385,0.036181,INDIVIDUAL,0,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,14,0,1843,20,w,863.324396,18.778660,INDIVIDUAL,0,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,7,0,13819,12,w,288.173196,0.044131,INDIVIDUAL,0,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,13,1,1544,22,w,129.239553,19.306646,INDIVIDUAL,0,0

# Data Encoding

## Columns to Encode
Categorical data need to be encoded first before it is processed.
Here are the columns that need to be encoded:
1. Grade
2. Sub-Grade
3. Verification

In [27]:
# encoding grade
df['grade'] = df['grade'].map({'A':7, 'B':6, 'C':5, 'D':4, 'E':3, 'F':2, 'G':1})

In [28]:
# encoding subgrade
df['subgrade'] = df['subgrade'].map({'A1':35, 'A2':34, 'A3':33, 'A4':32, 'A5':31,
                                     'B1':30, 'B2':29, 'B3':28, 'B4':27, 'B5':26,
                                     'C1':25, 'C2':24, 'C3':23, 'C4':22, 'C5':21,
                                     'D1':20, 'D2':19, 'D3':18, 'D4':17, 'D5':16,
                                     'E1':15, 'E2':14, 'E3':13, 'E4':12, 'E5':11,
                                     'F1':10, 'F2':9, 'F3':8, 'F4':7, 'F5':6,
                                     'G1':5, 'G2':4, 'G3':3, 'G4':2, 'G5':1
                                    })

In [29]:
# encoding verification
df['verification'] = df['verification'].map({'Verified':1, 'Source Verified':1, 'Not Verified':0})

In [30]:
df.head()

,id,loan_amt,funded_amt,investor_amt,pmt_term,batch,rate,grade,subgrade,home_type,...,open_account,total_bad_attitude,revolving_balance,total_account,init_status,received_interest,received_late_fee,Application Type,account_delinquent,loan_status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,6,22,MORTGAGE,...,13,0,24246,7,w,2929.646315,0.102055,INDIVIDUAL,0,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,5,18,RENT,...,12,0,812,13,f,772.769385,0.036181,INDIVIDUAL,0,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,2,17,MORTGAGE,...,14,0,1843,20,w,863.324396,18.778660,INDIVIDUAL,0,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,5,23,MORTGAGE,...,7,0,13819,12,w,288.173196,0.044131,INDIVIDUAL,0,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,5,17,MORTGAGE,...,13,1,1544,22,w,129.239553,19.306646,INDIVIDUAL,0,0

In [31]:
# change data type to integer
df['grade'] = df['grade'].astype('int')
df['subgrade'] = df['subgrade'].astype('int')
df['verification'] = df['verification'].astype('int')